body, html {
    height: 100%;
}

.bg {
    position: relative; 
    height: 100vh;
    width: 100%;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
}

.bg::before {    
      content: "";
      background-image: url('images/fundoRosasBrancas.jpg');
      background-size: cover;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.60;
}

.cabecalho {
    background-color: #344f46;
    /* height: 220px; */
    padding-bottom: 10px;
    margin-bottom: 50px;
}

.relative {
    position: relative;
}

.logo {
    background-image: url("images/logo1.png");
    background-size: cover;
    height: 210px;
    width: 310px;
    margin: auto;
    /* border: red 5px solid; */
}

.social-links {
    margin: 25px 0px;
    filter: invert(48%) sepia(31%) saturate(1087%) hue-rotate(312deg) brightness(105%) contrast(86%);
}

a {
    font-size: larger;
    color: #EEE4DA;
}

.depoimento {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* width: 400px;
    height: 600px; */
    /* border: red 5px solid; */
    margin-bottom: 25px;
}

.profilepicture1 {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    background-image: url("images/fregoliProfile.png");
    background-size: cover;
    border: #EC6968 solid 15px;
    margin-bottom: 25px;
}

.profilepicture2 {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    background-image: url("images/yohannaProfile.png");
    background-size: cover;
    border: #EC6968 solid 15px;
    margin-bottom: 25px;
}

.depoimentotexto1 {
    width: 275px;
    color: #344f46;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: 24px;
}

.depoimentotexto2 {
    width: 300px;
    color: #344f46;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: 24px;
}

.super-bold {
    font-weight: 700;
}
